* {
  --primary-color: #FF6A39;
  --primary-color-rgb: 100, 42, 22;
  --secondary-color: #FF6A39;
  --secondary-color-rgb: 87, 90, 255;
  --tertiary-color: #4f008c;
  --tertiary-color-rgb: rgba(9, 125, 255, 1.0);
  --bg-dark-1: #4f008c;
  --bg-dark-1-rgb: 31, 0, 55;
  --bg-dark-2: #4f008c;
  --bg-dark-3: #600092;
  --dark-body-font-color: #fff;
  --gradient-text: 45deg,#ffffff 0%, #aaaaaa 100%;
  --body-font-weight: 300;

}